{% extends 'base.html' %}

{% block title %}
  <title>POST. Создаем и обновляем форму</title>
{% endblock %}

{% block main %}
  <div id="pk">{{ last_url_element }}</div>
  <h5 class="card-title text-center">POST. Создаем и обновляем форму</h5>
  <div class="card">
    <div class="card-body">
        <form action="{% url 'websiteApp:abc_form_post' %}" method="post">
        {% csrf_token %}
            <table>
            {{ form }}
            <tr>
            <th><label for="id_submit"></label></th>
            <td><button type="submit" class="btn btn-primary" id="id_submit">Вычислить</button><td>
        </table>
    </form>
    </div>
  </div>
  {% if result %}
    Результат: {{ result }}
  {% endif %}
{% endblock %}
