<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
{% load static %}
<link href="{% static 'css/mycss.css' %}" rel="stylesheet">
</head>
<body>

    <header class="card">
        <div class="card-body bg-color">
            <h5 class="card-title">CTRL+F5<br>common+shift+R</h5>
            <img src="{% static 'images/settings_django.png' %}" height="30px">
        </div>
    </header>

<nav>
    <ul>
        <li><a href="">./page_01</a></li>
        <li><a href="{% url 'renderApp:page_01' path_value='id/page/010' %}">renderApp:page_01__query_str='id/page/010'</a></li>
    </ul>
</nav>


{% include './navigation.html' %}


{% block main %}
{% endblock %}
</body>
</html>