{% load static %}
<nav>
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:page_01' path_value='id/page/010' %}"><img src="{% static '/images/engine.jpg' %}" height="20px"></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:page_01' path_value='id/page/010' %}">page_01'</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:page_02' path_value='id/page/020' %}">page_02'</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:pages' path_value='first' %}">first</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:pages' path_value='second' %}">second</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:task' path_value='Переменная a  больше нуля?/-1' %}">Решить задачу</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'renderApp:objects_arrays' %}">Массивы объектов</a></li>
  </ul>
</nav>
