<nav>
    <ul>
        <li><a href="{% url 'renderApp:renderApp-page_01' path_value='id/page/010' %}">renderApp:renderApp-page_01_path_value='id/page/010'</a></li>
        <li><a href="{% url 'renderApp:renderApp-page_02' path_value='id/page/020' %}">renderApp:renderApp-page_02_path_value='id/page/020'</a></li>
        <li><a href="{% url 'renderApp:pages' path_value='first' %}">first</a></li>
        <li><a href="{% url 'renderApp:pages' path_value='second' %}">second</a></li>
    </ul>
</nav>

