*{
    }
.bg-color {
    background-color: red;
    background-image: url(../images/engine.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

div {
    width: 100%;

}

.list-group li {
    /*Контейнер*/
    display: flex;
    /*главная ось*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    /*поперечная ось */
    align-items:center;
}


.section div {
    /*Контейнер*/
    display: flex;
    /*главная ось*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    /*поперечная ось */
    align-items:center;
}

tr {
    /*Контейнер*/
    display: flex;
    /*главная ось*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    /*поперечная ось */
    align-items:center;
}

label {
    display: inline-table;
    line-height: 1.0rem;
}

input,textarea,td {
    display: ininline-table;
    resize: horizontal;
    margin: 0.5rem;
    height: 3.0rem;
    width:100%
    }


table, div {
    width: 100%;
}


th {
    width: 20em;
}

td {
    width: -webkit-fill-available;
}

a:hover {
    text-decoration: underline;
}