.bg-color {
    background-color: red;
    background-image: url(../images/engine.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

label {
    display: table-row;
    line-height: 2.0rem;
}

input {
    width: fit-content;
}

a:hover {
    text-decoration: underline;
  }