{% extends "../websiteApp/layout.html" %}


{% block title %}
    <title>Store</title>
{% endblock %}


{% block main %}
    {% load static %}
    <div id="pk" name={{ urls.last_url_element }}>{{ urls.last_url_element }}</div>
    <h5 class="card-title text-center">Магазин</h5>
    {#    path_element: {{path_element.path_element}}#}
    {#    <br>objects_array: {{objects_array.objects_array}}#}

    <div class="card">
        <div class="card-body">
{#            <form action="https://www.bing.com/search" id="UserEnter" name="UserEnter" target="_blank">#}
            <form action="{% url 'websiteApp:websiteApp-store_result' %}" id="UserEnter" name="UserEnter" target="_blank">
                <ul class="d-flex flex-row flex-wrap ">
                    {% for object in dict_of_array.objects_array %}
                        <li class="m-2 list-group-item bg-light border p-3">
                            <img src="{% static object.img %}" width="200px>">
                            <img src="{{ object.img }}" width="200px>">
                            <h6>{{ object.title }}</h6>
                            <p>{{ object.description }}. Цена: {{ object.price }}р.
                                <input name="vendor_code" type="hidden" value={{ object.vendor_code }}>
                                <br>Заказать<input style=" width: 2.0rem;" name="amount" type="text" value=0> шт.
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>
    </div>

{% endblock %}





{% comment %}
<ul>
    {% for object in objects_array %}
        <li>
            {% for key, value in object.items %}
                {{ key }}: {{ value }}
                {{ value }}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% endcomment %}


{% comment %}

        <li class="m-2 list-group-item">
        <img src=${content[key].img} width="200px">
        <h6>${content[key].title}</h6>
        <p>${content[key].description}. Цена
        ${content[key].price} р.</p>
        <p>Заказать
        <input type="hidden" name= "vendor_code" value=${content[key].vendor_code}>
        <input type="number" name="amount" value="0" style="width: 2.0rem;">
        </p>
        </li>

{% endcomment %}


</body>
</html>