            <ul class="nav nav-tabs card-header-tabs">
{#                <li class="nav-item"><a class="nav-link active" href="{% url 'renderApp:renderApp-page_01' %}">renderApp:renderApp-page_01</a></li>#}
                <li class="nav-item"><a class="nav-link active " href="{% url 'AppStaticSite:AppStaticSite' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link " href="{% url 'AppStaticSite:AppStaticSite-form' %}">Form</a></li>
                <li class="nav-item"><a class="nav-link " href="./form.html">Форма</a></li>
                <li class="nav-item"><a class="nav-link" href="./form_abc.html">Алгоритмическая задача</a></li>
            </ul>