
            <ul class="nav nav-tabs card-header-tabs">
{#                <li class="nav-item"><a id="index" class="nav-link" href="{% url 'AppStaticSite:index' %}">Index</a></li>#}
                <li class="nav-item"><a id="home" class="nav-link" href="{% url 'AppStaticSite:AppStaticSite-home' %}">Home</a></li>
                <li class="nav-item"><a id="form" class="nav-link" href="{% url 'AppStaticSite:AppStaticSite-form' %}">Form</a></li>
                <li class="nav-item"><a id="form_abc" class="nav-link" href="{% url 'AppStaticSite:AppStaticSite-form_abc' %}">Form_abc</a>
                </li>
            </ul>